@model SignUpViewModel

<div class="auth-container">
    <div class="auth-block">
        <form asp-controller="Account" asp-action="SignUp" method="post">
            <div class="field-block">
                <span>Name:</span>
                <input asp-for="Name" class="form-control" type="text" placeholder="Enter user name" />
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
            <div class="field-block">
                <span>Password:</span>
                <input asp-for="Password" class="form-control" type="password" placeholder="Enter user password" />
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
            <div class="field-block">
                <span>Repeate password:</span>
                <input asp-for="RepeatePassword" class="form-control" type="password" placeholder="Enter password again" />
                <span class="text-danger" asp-validation-for="RepeatePassword"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger field-block"></div>
            <div class="inline-container">
                <div class="field-block block-float-left">
                    <button class="btn btn-success" type="submit">Sign up</button>
                </div>
                <div class="field-block block-float-right">
                    <button class="btn btn-info" asp-controller="Account" asp-action="SignIn">Sign in</button>
                </div>
            </div>
        </form>
    </div>
</div>