@model SignInViewModel


<div class="fluid-container">
    <div></div>
    <div class="head-text">
        To use the application you should be authorised
    </div>
</div>
<div class="auth-container">
    <div class="auth-block">
        <form asp-controller="Account" asp-action="SignIn" method="post">
            <div class="field-block">
                <span>Name:</span>
                <input asp-for="Name" class="form-control" type="text" placeholder="Enter user name" />
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
            <div class="field-block">
                <span>Password:</span>
                <input asp-for="Password" class="form-control" type="password" placeholder="Enter user password" />
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger field-block"></div>
            <div class="inline-container">
                <div class="field-block block-float-left">
                    <button class="btn btn-info" type="submit">Sign in</button>
                </div>
                <div class="field-block block-float-right">
                    <a class="btn btn-success" asp-action="SignUp" asp-controller="Account">Sign up</a>
                </div>
            </div>
        </form>
    </div>
</div>