@model AuthorizeViewModel

<div class="auth-container">
    <div class="auth-block">
        <form asp-controller="Account" asp-action="SignIn" method="post">
            <div class="field-block">
                <span>Name:</span>
                <input asp-for="Name" class="form-control" type="text" placeholder="Enter user name" />
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
            <div class="field-block">
                <span>Password:</span>
                <input asp-for="Password" class="form-control" type="password" placeholder="Enter user password" />
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger field-block"></div>
            <div class="field-block">
                <button class="btn btn-info" type="submit">Sign in</button>
            </div>
        </form>
    </div>
</div>