@model TextRedactViewModel

<link href="~/css/redactor.css" rel="stylesheet" />

<div class="container flex-container" style="margin-top: 200px;">
    <div>
        <textarea class="form-control" placeholder="Enter something" rows="5"></textarea>
    </div>
    <button class="btn btn-success" id="btn-suc">Success</button><br />
    <div>
        <div id="correct_text"></div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script>
    $(document).ready(() => {
        $('#btn-suc').click(() => {
            let words = $('textarea').val().toString().replace(/[!"#$%&'()*+,-./:;<=>?[\]^_`{|}~0123456789]/g, " ").split(" ");
            let correct_words = "";
            for (let i = 0; i < words.length; i++) {
                if (words[i].length >= 4)
                    correct_words += ("<span class='word'>" + words[i] + " " + "<span class='popup' style='display: none'></span></span>");
            }
            $("#correct_text").html(correct_words);
        });
        $('#correct_text').delegate(".word", "click", function () {
            let popup = $(this).children('.popup');
            $.ajax({
                type: 'POST',
                data: { text: $(this).text() },
                url: '/Redactor/DetectLanguage',
                async: true,
                success: function (result) {
                    let list = "<ul>";
                    for (let i = 0; i < result.length; i++) {
                        list += "<li>" + result[i].language + " - " + result[i].confidence + "%</li>";
                    }
                    list += "</ul>"
                    popup.html(list);
                    popup.toggle('fast');
                }
            })
        });
    });
</script>